<footer class="footer">
  <small>
    Una <a>Plataforma Independiente</a>
    de la <a href="https://www.uv.mx/"><h2>Universidad Veracruzana</h2></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca De",   about_path %></li>
      <li><%= link_to "Contactanos", contact_path %></li>
      <li><a href="https://www.uv.mx/">Noticias</a></li>
    </ul>
  </nav>
</footer>