<%= render 'whoares/form' %>
<div class="page">
    <br><%= link_to '<i class="material-icons md-dark md-48">arrow_back</i>'.html_safe, :back, style: 'margin-left:3%' %>
    <%= link_to '<i class="material-icons md-dark md-48">home</i>'.html_safe, :root %>
    


</div>

<style>
  div.page{
    background-color: white;
    width: 80%;
    margin-left: 10%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
</style>
