
	<h1>Acerca de...</h1>
	<div class=" col-xs-12 col-md-12">
	<p style="font-family:arial"> Esta aplicacion fue pensada principalmente para llevar un control de seguimiento de cada alumno registrado que se ha dado de alta, con la probabilidad de mostrar una bolsa de trabajo en la que pueda encontrar un trabajo acorde a su carrera y que el personal administrativo puede mantener contacto con los egresados.</p>
	</div>
	
	<div class=" col-xs-12 col-md-12">
	<p style="font-family:arial">Esta aplicacion fue desarrollada por el equipo Alpha de la materia de desarollo de software como proyecto de dicha materia.</p>
		
	</div>
