
	<div class="col-md-12"><br>
	<%= image_tag("imagen.jpg",width: "30%") %>	<br>
	<br></div>
	
	<address>
			
		<br>EGRESUV<br>
		Desarrollador: Cristian Alberto Sanchez Trujillo<br>
		Correo electronico: contacto.egresuv@hotmail.com<br>
		Metodologia de desarrollo<br>
		Facultad de estadistica e informatica
	</address>

