
	
	
<div class="center jumbotron">
	<%= image_tag("Picture1.png",width: "20%") %>	
	<h2 style="font-size: 4em">EGRESUV</h2>
  <h1>Sistema de Seguimiento para Egresados UV</h1>

  <h2>
    Plataforma Beta V. 0.03
    <a href="http://www.uv.com.mx/">Metodologias de Desarrollo</a>
    
  </h2>


  <%= link_to "Iniciar Sesion", login_path, class: "btn btn-lg btn-primary" %>
  <p>No tienes Cuenta? <%= link_to "Registrate!", signup_path %></p>

  
</div>

