.datos, .contenido{
    font: 16px Times New Roman;
    color: #070707;

}

h3{
    font: 20px Ubunto Mono;
    color: #2a8ce0;
}

.contenido img{
    
  margin-left: 38%;
  margin-px;
  width:20%;
  height:25%;
  
    
}