<div class="footer-wrapper">
  <table class="tableInfo">
    <tr>
      <th>
        <h2>Matriz Méxido DF</h2>
        <p>Dirección: Lourdes N° 58<br>
           Colonia: Zacahuitzco Deleg. Benito Juárez
           C.P. 03550<br>
           Tels. (0155) 52.43.47.43<br>
           Fax.  (0155) 55.39.65.29</p>
        </th>

        <th>
          <h2>|</h2>
          <p>|<br>
             |<br>
             |<br>
             |<br>
             |</p>
          </th>

        <th>
          <h2>Sucursal Xalapa; Veracruz.</h2>
          <p>Dirección: Alberto Calderon N° 11<br>
             Colonia: Francisco Ferrer Guardia
             C.P. 91020<br>
             Tel. 840.73.14<br>
             Cel(2288) 24.27.37 </p>
        </th>

    </tr>
  </table>
</div>

<style>
  .tableInfo{

    margin-left: auto;
    margin-right: auto;
    /*border-collapse: separate;
    border-spacing: 90px;*/
  }

  .footer-wrapper{
    background-color: #5F5B5B;

  }

  h2, p{
    color: #ffffff;
  }
</style>
